@font-face {
    font-family: "gilroy-light";
    src: url("../fonts/gilroy-light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gilroy-bold";
    src: url("../fonts/gilroy-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Estilos da página inicial */

body {
    margin: 0;
    padding: 0;
    background: #F8F8F8;
}

.page-intro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}


.inicial{
    background: url("../images/bg.png") no-repeat;
    width: 1396px;
    height: 380px;
    display: flex;
    flex-direction: row;   
    align-items: center; 
    border-radius: 12px;
    color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    margin-left: 100px;
}


.left-content { 
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 870px;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 100px;

}

.paragraph{
    font-family: "gilroy-bold", sans-serif;
    gap: 8px;
    text-transform: uppercase;
    font-size: 30px;
}

.text {
    font-family: "gilroy-light", sans-serif;
}

/* Sub Sessão das categorias de eventos */

.categories {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1396px;
    height: 380px;
    justify-content: center;
    margin-top: 30px;
}

.categories-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.categories-list button {
    width: 191px;
    height: 204px;
    border-radius: 8px;
    color: white;
    background-color: #D0147A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    font-family: "gilroy-light", sans-serif;
}

hr {
    background-color: #D0147A;
    color: #D0147A;
    height: 3px;
}

.categories-title h2 {
    font-family: "gilroy-bold", sans-serif;
    font-size: 26px;
    color: #D0147A;
    margin-top: 20px;
    /* text-transform: uppercase; */
}

/* Sub Sessão de IA e Cases */

.information {
    width: 1396px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.cases{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border: #D0147A solid 3px;
    border-radius: 8px;
}

.cases h2{
    font-family: "gilroy-bold", sans-serif;
    font-size: 20px;
    color: #D0147A;
    text-transform: uppercase;
}

.cases hr {
    width: 100%;
}

.carrossel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.case-item{
    width: 250px;
    height: 350px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

.case-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.saiba-mais{
    display: flex;
    background-color: #D0147A;
    color: white;
    border: none;
    border-radius: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 30px;
    width: 200px;
    font-family: "gilroy-light", sans-serif;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ai-chat iframe {
    border: #D0147A solid 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Sub Sessão Sobre a Xlab */


.about {
    display: flex;
    flex-direction: column;
    width: 1396px;
    gap: 20px;
    margin: 80px 0;
}

.about-xlab {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-xlab h2{
    font-family: "gilroy-bold", sans-serif;
    font-size: 20px;
    color: #D0147A;
}

.about-xlab p{
    font-family: "gilroy-light", sans-serif;
    font-size: 15px;
}

/* Página de pesquisa de produtos */

main {
    display: flex;
    justify-content: center;
}

.container-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 200px;
    width: 1396px;
}

.left-search{
    display: flex;
    flex-direction: column;
    width: 215px;
    /* border-right: 1px solid #D0147A; */
    gap: 10px;
}

.left-search h2{
    font-family: "gilroy-bold", sans-serif;
    font-size: 32px;
    color: #D0147A;
    margin-bottom: 20px;
}

.opcoes-filtros {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opcoes-filtros h4 {
    font-family: "gilroy-bold", sans-serif;
    font-size: 20px;
}

.filtros {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtros label {
    font-family: "gilroy-light", sans-serif;
    font-size: 14px;
    color: #333;
}

.button-container button {
    background-color: #D0147A;
    display: flex;
    width: 107px;
    height: 29px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1000px;
    color: white;
    font-family: "gilroy-light", sans-serif;
}

input[type=range] {
    -webkit-appearance: none; /* remove aparência padrão */
    width: 200px;
    height: 5px;
    background: linear-gradient(to right, #D0147A 0%, #9F9F9F 0%);
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

/* bolinha (thumb) */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #D0147A;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -2px;
}

input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

.range-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 1046px;
    padding: 20px;
    gap: 20px;
}