@font-face {
    font-family: "gilroy-light";
    src: url("../fonts/gilroy-light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gilroy-bold";
    src: url("../fonts/gilroy-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Estilos da página inicial */

body {
    margin: 0;
    padding: 0;
    background: #F8F8F8;
}

.page-intro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}


.inicial{
    background: url("../images/bg.png") no-repeat;
    width: 1396px;
    height: 380px;
    display: flex;
    flex-direction: row;   
    align-items: center; 
    border-radius: 12px;
    color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    margin-left: 100px;
}


.left-content { 
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 870px;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 100px;

}

.paragraph{
    font-family: "gilroy-bold", sans-serif;
    gap: 8px;
    text-transform: uppercase;
    font-size: 30px;
}

.text {
    font-family: "gilroy-light", sans-serif;
}

/* Sub Sessão das categorias de eventos */

.categories {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1396px;
    height: 380px;
    justify-content: center;
    margin-top: 30px;
}

.categories-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.categories-list button {
    width: 191px;
    height: 204px;
    border-radius: 8px;
    color: white;
    background-color: #D0147A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    font-family: "gilroy-light", sans-serif;
}

hr {
    background-color: #D0147A;
    color: #D0147A;
    height: 3px;
}

.categories-title h2 {
    font-family: "gilroy-bold", sans-serif;
    font-size: 26px;
    color: #D0147A;
    margin-top: 20px;
    /* text-transform: uppercase; */
}

/* Sub Sessão de IA e Cases */

.information {
    width: 1396px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.cases{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border: #D0147A solid 3px;
    border-radius: 8px;
}

.cases h2{
    font-family: "gilroy-bold", sans-serif;
    font-size: 20px;
    color: #D0147A;
    text-transform: uppercase;
}

.cases hr {
    width: 100%;
}

.carrossel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.case-item{
    width: 250px;
    height: 350px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

.case-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.saiba-mais{
    display: flex;
    background-color: #D0147A;
    color: white;
    border: none;
    border-radius: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 30px;
    width: 200px;
    font-family: "gilroy-light", sans-serif;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ai-chat iframe {
    border: #D0147A solid 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Sub Sessão Sobre a Xlab */


.about {
    display: flex;
    flex-direction: column;
    width: 1396px;
    gap: 20px;
    margin: 80px 0;
}

.about-xlab {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-xlab h2{
    font-family: "gilroy-bold", sans-serif;
    font-size: 20px;
    color: #D0147A;
}

.about-xlab p{
    font-family: "gilroy-light", sans-serif;
    font-size: 15px;
}

/* Página de pesquisa de produtos */

main {
    display: flex;
    justify-content: center;
}

.container-search{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-top: 70px;
    margin-bottom: 200px;
    width: 1396px;
    gap: 61px;
}

.left-search{
    display: flex;
    flex-direction: column;
    width: 215px;
    /* border-right: 1px solid #D0147A; */
    gap: 10px;
}

.left-search h2{
    font-family: "gilroy-bold", sans-serif;
    font-size: 32px;
    color: #D0147A;
    margin-bottom: 20px;
}

.opcoes-filtros {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opcoes-filtros h4 {
    font-family: "gilroy-bold", sans-serif;
    font-size: 20px;
}

.filtros {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtros label {
    font-family: "gilroy-light", sans-serif;
    font-size: 14px;
    color: #333;
}

.button-container button {
    background-color: #D0147A;
    display: flex;
    width: 107px;
    height: 29px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1000px;
    color: white;
    font-family: "gilroy-light", sans-serif;
}

input[type=range] {
    -webkit-appearance: none; /* remove aparência padrão */
    width: 200px;
    height: 5px;
    background: linear-gradient(to right, #D0147A 0%, #9F9F9F 0%);
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

/* bolinha (thumb) */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #D0147A;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -2px;
}

input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

.range-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 1046px;
    padding: 20px;
    gap: 20px;
}

/* Subsessão de produtos  */

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    width: 1046px;
    padding: 0px 20px;
    align-items: flex-start;
}

.card-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 250px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.card-produto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.name-product {
    font-family: "gilroy-light", sans-serif;
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.preco {
    font-family: "gilroy-bold", sans-serif;
    font-size: 16px;
    color: #D0147A;
    margin-top: 5px;
}

.info-produto{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Subsessão Hub TV1 */

.container-hub {
    display: flex;
    width: 1396px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.left-hub {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-hub h2 {
    font-family: "gilroy-bold", sans-serif;
    font-size: 32px;
    color: #D0147A;
    margin-bottom: 20px;
}

.hub-products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 40px;
    width: 1396px;
    padding: 0px 20px;
    align-items: flex-start;
}

.hub-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 250px;
    height: 350px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.hub-product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.name-product-hub {
    font-family: "gilroy-bold", sans-serif;
    font-size: 20px;
    color: #D0147A;
    margin: 5px 0;
}

.description-product{
    font-family: "gilroy-light", sans-serif;
    font-size: 16px;
    color: #333;
    margin-top: 5px;
}

/* Subsessão Cases */

.name-case{
    font-family: "gilroy-bold", sans-serif;
    font-size: 16px;
    color: black;
    margin-top: 5px;
}

.cases-product {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 250px;
    height: 350px;
}

.container-images-cases{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.title-line {
    width: 35px;
}

/* Subsessão Resultados de Busca */

.results-container{
    display: flex;
    flex-direction: row;
    
    margin-top: 70px;
    margin-bottom: 200px;
    width: 1396px;
    gap: 61px;
}

.left-side-results{
    display: flex;
    flex-direction: column;
    width: 215px;
    gap: 10px;
}

.left-side-results h2{
    font-family: "gilroy-bold", sans-serif;
    font-size: 32px;
    color: #D0147A;
    margin-bottom: 20px;
}

/* Sem Resultados  */

.sem-resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sem-resultados img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.sem-resultados p{
    font-family: "gilroy-bold", sans-serif;
    font-size: 18px;
    color: #D0147A;
    text-align: center;
}

.product-side{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1046px;
}

/* Página do Produto Específico */

.container-product{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 200px;
    width: 1396px;
    gap: 70px;
}

.information-inicial{
    display: flex;
    flex-direction: row;
    gap: 140px;
}

.text-right{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    width: 100%;
}

.text-right h2{
    display: flex;
    justify-content: flex-start;
    font-family: "gilroy-bold", sans-serif;
    font-size: 32px;
}

.image-container-left{
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.image-container-left img {
    width: 600px;
}

.tempo-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tempo-container p{
    font-family: "gilroy-light", sans-serif;
    font-size: 16px;
}

.line-tempo hr{
    background-color: #9F9F9F;
    color: #9F9F9F;
    height: 1px;
}

.valor-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.valor {
    font-size: 40px;
    font-family: "gilroy-light", sans-serif;
    color: #D0147A;
}

.text-valor {
    font-size: 24px;
    font-family: "gilroy-light", sans-serif;
    color: #D0147A;
}

.text-right h3 {
    font-family: "gilroy-bold", sans-serif;
    font-size: 24px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.info h4{
    font-family: 'gilroy-bold', sans-serif;
    font-size: 16px;
}

.info p{
    font-family: "gilroy-light", sans-serif;
    font-size: 16px;
}

.btn-comprar {
    width: 335px;
    background-color: #D0147A;
    color: white;
    border: none;
    border-radius: 1000px;
    padding: 10px 20px;
    font-family: "gilroy-light", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-calculadora {
    display: flex;
    justify-content: center;
}

.information-detalhes{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.information-detalhes h1{
    font-family: "gilroy-bold", sans-serif;
    font-size: 24px;
}

.information-detalhes p{
    font-family: "gilroy-light", sans-serif;
}

.video{
    display: flex;
    justify-content: center;
}

.video iframe {
    width: 1000px;
    height: 450px;
}

.divider hr{
    background-color: #9F9F9F;
    color: #9F9F9F;
    height: 1px;
}

.cases-especificos {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.cases-especificos h2 {
    font-family: "gilroy-bold", sans-serif;
    font-size: 24px;
}

.cases-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: center;
    padding: 0px 20px;
}

.cases-imgs img{
    width: 350px;
    object-fit: cover;
    height: 350px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

/* Página Administrativa */

.admin-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 200px;
    width: 1396px;
}

.admin-page h1 {
    font-family: "gilroy-bold", sans-serif;
    font-size: 32px;
    color: #D0147A;
    text-align: center;
}

.add-produto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-produto h2 {
    font-family: "gilroy-bold", sans-serif;
    color: #D0147A;
    font-size: 24px;
}

.options-page {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.options-especifica {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.options-especifica button {
    font-family: "gilroy-light", sans-serif;
    background: #9F9F9F;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

.add-produto button {
    font-family: "gilroy-light", sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: white;
    background: #D0147A;
    padding: 10px 15px;
    border-radius: 10000px;
    align-items: center;
    gap: 5px;
}

.hr-options hr{
    background-color: #9F9F9F;
    color: #9F9F9F;
    height: 1px;
}

.perfil-img {
    width: 142px;
    height: 142px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.produtos-totais{
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.produto-texto {
    display: flex;
    flex-direction: column;
    gap: 17px;
    justify-content: center;
}

.produto-texto p{
    font-family: "gilroy-light", sans-serif;
    font-size: 20px;
}

.price-infos {
    color: #D0147A;
}

.produto-infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-edicao {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: #D0147A;
    padding: 40px;
}


/* Página de Edição de Produto Já Cadastrado */
.edit-produto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 200px;
    width: 1396px;
}

.edit-produto h2{
    color: #D0147A;
    font-family: "gilroy-bold", sans-serif;
    font-size: 24px;
}

.left-side-infos {
    display: flex;
    flex-direction: row;
    gap: 33px;
}

.hr-produto hr {
    background-color: #9F9F9F;
    color: #9F9F9F;
    height: 1px; 
}

.first-container-edit{
    display: flex;
    flex-direction: row;
    height: 506px;
    gap: 50px;
    margin-bottom: 60px;
}

.first-container-edit img {
    width: 500px;
    background: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.texto-completo-edit{
    display: flex;
    flex-direction: column;
    gap: 56px;
    justify-content: flex-start;
    width: 100%;
}

.texto-info-edit{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.title-texto-completo-edit p{
    font-family: "gilroy-bold", sans-serif;
    font-size: 24px;
}

.texto-info-edit input{
    font-family: "gilroy-light", sans-serif;
    color: #9F9F9F;
    background: #fff;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
} 

.second-section-edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
}

.infos-complementares h3{
    font-family: "gilroy-bold", sans-serif;
    font-size: 20px;
}

.infos-complementares-edit{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    gap: 20px;
}

.spam-area{
    border: #333 solid 1px;
    width: 350px;
    height: 30px;
}

.infos-complementares-edit p{
    font-family: "gilroy-bold", sans-serif;
    font-size: 18px;
    margin-left: 20px;
}

.infos-complementares-edit input{
    color: #9F9F9F;
    font-family: "gilroy-light", sans-serif;
    border: #9F9F9F solid 1px;
    width: 350px;
    height: 30px;
    padding: 10px;
}

.descricao-edit{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.descricao-edit-title{
    font-family: "gilroy-bold", sans-serif;
    font-size: 20px;
}

.descricao-edit textarea{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "gilroy-light", sans-serif;
    border: #9F9F9F solid 1px;
    width: 100%;
    height: 330px;
    padding: 10px;
}

.cases-imagens-edit {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    align-items: center;
}

.cases-container-edit {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.btn-edit {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: 70px;
}

.btn-edit-cancelar {
    font-family: "gilroy-light", sans-serif;
    padding: 10px 30px;
    background: #9F9F9F;
    color: #fff;
    border-radius: 1000px;
    cursor: pointer;
}

.btn-edit-salvar {
    font-family: "gilroy-light", sans-serif;
    color: white;
    padding: 10px 30px;
    background: #D0147A;
    border-radius: 1000px;
    cursor: pointer;
}

#formulario-produto h2{
    color: #D0147A;
    font-family: "gilroy-bold", sans-serif;
    font-size: 24px;
}

#img-add {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 402px;
    height: 402px;
    border-radius: 10px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#img-add p{
    font-family: "gilroy-light", sans-serif;
}

.infos-principais-add{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.first-container-add{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.formulario-container-add{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.forms-add {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container-infos-complementares-add{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#drop-zone {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#drop-zone svg{
    width: 100px;
    height: 100px;
}

#drop-zone p {
    font-family: "gilroy-light", sans-serif;
    color: #333;
}

.img-cases-add label {
    font-family: "gilroy-bold", sans-serif;
    font-size: 20px;
}

.img-cases-add {
    display: flex;
    flex-direction: column;
    gap: 30px;
}