@font-face {
    font-family: "gilroy-light";
    src: url("/fonts/gilroy-light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.header-html{  
    padding: 10px 0px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    font-family: "gilroy-light", sans-serif;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
}

.header {
    font-family: "gilroy-light", sans-serif;
    margin: 12px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.search {
    width: 700px;
    gap: 10px;
    display: flex;
    flex-direction: column
}

.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

form {
    flex: 1;
}

.input{
    width: 100%;
    padding: 8px 20px;
    border: none;
    background-color: #E9E9E9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #9F9F9F;
    font-size: 15px;
}

.button-search {
    border: none;
    background-color: #D0147A;
    padding: 8px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.search-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.search-options a{
    border: none;
    background-color: #9F9F9F;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}

.search-options a:hover{
    background-color: #D0147A;
    transform: translateY(2px);
}

.search-options a:active{
    transform: translateY(0);
    background-color: #8b0e53;
}

.img-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}